/urp/*/*.csproj
/urp/*/*.sln
/urp/*/*.vs
/urp/*/Library
/urp/*/obj
/urp/*/Temp
/urp/*/Logs
/urp/*/ProjectSettings
/urp/*/Packages
/urp/*/.vsconfig
/srp/*/*.csproj
/srp/*/*.sln
/srp/*/*.vs
/srp/*/Library
/srp/*/obj
/srp/*/Temp
/srp/*/Logs
/srp/*/ProjectSettings
/srp/*/Packages
/srp/*/.vsconfig
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/netcoreapp2.1/_._
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/ref/netcoreapp2.1/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
/urp/custom-srp-03-directional-lights/app.config
/urp/custom-srp-03-directional-lights/packages.config
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/net461/System.Memory.dll
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.dll
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/net461/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/net461/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/urp/custom-srp-01-custom-render-pipeline/Packages/packages-lock.json
/urp/custom-srp-02-draw-calls/Packages/packages-lock.json
/urp/custom-srp-03-directional-lights/Packages/packages-lock.json
/urp/custom-srp-04-directional-shadows/Packages/packages-lock.json
/urp/custom-srp-05-baked-light/Packages/packages-lock.json
/urp/custom-srp-06-shadow-masks/Packages/packages-lock.json
/urp/custom-srp-07-lod-and-reflections/Packages/packages-lock.json
/urp/custom-srp-08-complex-maps/Packages/packages-lock.json
/urp/custom-srp-09-point-and-spot-lights/Packages/packages-lock.json
/urp/custom-srp-15-particles/Packages/packages-lock.json
/urp/custom-srp-16-render-scale/Packages/packages-lock.json
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/System.Memory.4.5.4.nupkg
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/System.Runtime.CompilerServices.Unsafe.4.5.3.nupkg
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/.signature.p7s
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/.signature.p7s
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/.signature.p7s
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/.signature.p7s
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/LICENSE.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/version.txt
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/LICENSE.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/THIRD-PARTY-NOTICES.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/useSharedDesignerContext.txt
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/version.txt
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/version.txt
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/LICENSE.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/THIRD-PARTY-NOTICES.TXT
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/useSharedDesignerContext.txt
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/version.txt
/urp/custom-srp-01-custom-render-pipeline/.vsconfig
/urp/custom-srp-03-directional-lights/.vsconfig
/urp/custom-srp-04-directional-shadows/.vsconfig
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
/urp/custom-srp-03-directional-lights/Packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/net461/System.Memory.xml
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.xml
/urp/custom-srp-03-directional-lights/Packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/net461/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/net461/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-03-directional-lights/Packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/AudioManager.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/EditorSettings.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/GraphicsSettings.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/InputManager.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/PresetManager.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/ProjectSettings.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/TagManager.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/TimeManager.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/UnityConnectSettings.asset
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/VFXManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/AudioManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/EditorSettings.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/InputManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/PresetManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/TagManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/TimeManager.asset
/urp/custom-srp-02-draw-calls/ProjectSettings/VFXManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/AudioManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/EditorSettings.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/GraphicsSettings.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/InputManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/PresetManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/ProjectSettings.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/TagManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/TimeManager.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/UnityConnectSettings.asset
/urp/custom-srp-03-directional-lights/ProjectSettings/VFXManager.asset
/urp/custom-srp-04-directional-shadows/Assets/Custom RP.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/AudioManager.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/EditorSettings.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/InputManager.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/PresetManager.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/TagManager.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/TimeManager.asset
/urp/custom-srp-04-directional-shadows/ProjectSettings/VFXManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/AudioManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-05-baked-light/ProjectSettings/EditorSettings.asset
/urp/custom-srp-05-baked-light/ProjectSettings/InputManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-05-baked-light/ProjectSettings/PresetManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/TagManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/TimeManager.asset
/urp/custom-srp-05-baked-light/ProjectSettings/VFXManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/AudioManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/EditorSettings.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/InputManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/PresetManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/TagManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/TimeManager.asset
/urp/custom-srp-06-shadow-masks/ProjectSettings/VFXManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/AudioManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/EditorSettings.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/InputManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/PresetManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/TagManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/TimeManager.asset
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/VFXManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/AudioManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/ClusterInputManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/EditorBuildSettings.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/EditorSettings.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/InputManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/NavMeshAreas.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/PresetManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/TagManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/TimeManager.asset
/urp/custom-srp-08-complex-maps/ProjectSettings/VFXManager.asset
/urp/custom-srp-09-point-and-spot-lights/ProjectSettings/EditorSettings.asset
/urp/custom-srp-09-point-and-spot-lights/ProjectSettings/InputManager.asset
/urp/custom-srp-01-custom-render-pipeline/Packages/manifest.json
/urp/custom-srp-02-draw-calls/Packages/manifest.json
/urp/custom-srp-03-directional-lights/Packages/manifest.json
/urp/custom-srp-04-directional-shadows/Packages/manifest.json
/urp/custom-srp-05-baked-light/Packages/manifest.json
/urp/custom-srp-06-shadow-masks/Packages/manifest.json
/urp/custom-srp-07-lod-and-reflections/Packages/manifest.json
/urp/custom-srp-08-complex-maps/Packages/manifest.json
/urp/custom-srp-09-point-and-spot-lights/Packages/manifest.json
/urp/custom-srp-10-point-and-spot-shadows/Packages/packages-lock.json
/urp/custom-srp-11-post-processing/Packages/packages-lock.json
/urp/custom-srp-12-hdr/Packages/packages-lock.json
/urp/custom-srp-13-color-grading/Packages/packages-lock.json
/urp/custom-srp-14-multiple-cameras/Packages/packages-lock.json
/urp/custom-srp-03-directional-lights/Assets/Test Materials/Opague.mat
/urp/custom-srp-01-custom-render-pipeline/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-02-draw-calls/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-03-directional-lights/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-04-directional-shadows/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-05-baked-light/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-06-shadow-masks/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-07-lod-and-reflections/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-08-complex-maps/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-09-point-and-spot-lights/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-10-point-and-spot-shadows/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-11-post-processing/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-12-hdr/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-13-color-grading/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-14-multiple-cameras/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-15-particles/ProjectSettings/ProjectVersion.txt
/urp/custom-srp-16-render-scale/ProjectSettings/ProjectVersion.txt
